{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
        {% for comment in comments %}
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'comment_update' pk=comment.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <div class="comment">
            <p>created: {{ comment.created_at }}</p>
             <h2><a href="{% url 'comment_detail' pk=comment.pk %}">{{ comment.author }}</a></h2>
            <p>{{ comment.text|linebreaksbr }}</p>
        </div>
        {% endif %}
        {% if not user.is_authenticated %}
        {% if comment.approved_comment %}
        <a class="btn btn-default" href="{% url 'comment_update' pk=comment.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <div class="comment">
            <p>created: {{ comment.created_at }}</p>
             <h2><a href="{% url 'comment_detail' pk=comment.pk %}">{{ comment.author }}</a></h2>
            <p>{{ comment.text|linebreaksbr }}</p>
        </div>
        {% endif %}
        {% endif %}

        {% endfor %}
{% endblock %}